@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}
<h2>Register</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailAddress">Email</label>
                <input asp-for="emailAddress" class="form-control"/>
                <span asp-validation-for="emailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
                        <p class="mb-0 mt-1"> Already have an account?  <a asp-controller="Account"
                                                                           asp-action="Register"
                                                                           class="link-info">Login here</a></p>
            <button type="submit" class="btn btn-primary mt-3">Register Account</button>
        </form>
    </div>
</div>