@model UpdatePasswordViewModel

@{
    ViewBag.Title = "Update User Password";
    Layout = "_Layout";
}
<h2>Update Password</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="UpdatePassword" method="post">
            @Html.AntiForgeryToken()
            @*Make text box for username but always disabled and sends data when submit*@
            <div class="form-group">
                <label asp-for="UserName">Username</label>
                <input readonly asp-for="UserName" class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Update Password</button>
        </form>
    </div>
</div>